/* Колір основного тексту #212121 */
  
/* Колір другорядного тексту #757575 */

/* Білий основний #F5F5F5; */

/* Білий прозорий rgba(255, 255, 255, 0.6) */

/* Голубий #2196F3 */

/* Колір темнішого фону #2F303A */

/* Колір світлішого фону #F5F4FA; */

/* bleck #000000 */

/* Білий колір тексту #FFFFFF */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-first-background-color: #F5F5F5;
    --white-second-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --full-bleck-color: #000000;
    --full-white-color:#FFFFFF;
}

body {
    background-color:var(--white-first-background-color);
    color: var(--secondary-text-color);
}
.logo {
    color:var(--full-bleck-color);
}
.list {
    list-style: none;
}
/* site-nav */
.site-nav .link {
    color:var(--primary-text-color)
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color)
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* auth-nav */
.auth-nav .link {
    color: var(--secondary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}



/* section */
.section-title {
    color:var(--primary-text-color)
    }
/* Features and Job */
.feature-list .title {
    color:var(--primary-text-color) ;
}
/* button */
.button {
    background-color: var(--accent-color);
color:var(--full-white-color) ;
}
